@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-theme {
  --root_background: #1f1f1f;
}
.light-theme {
  --root_background: #f97316;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: var(--root_background, #f97316); /* fallback to orange-500 */
}
